/*by xkl*/
body {
  line-height: 1.5;
  font-family: arial, "\5b8b\4f53";
  background: #fff;
  font-size: 12px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
fieldset,
img,
a img,
:link img,
:visited img {
  border: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
.clear,
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}
.clearfix:after {
  visibility: hidden;
  content: ".";
}
.clearfix {
  *zoom: 1;
}
.index-nav {
  width: 960px;
  margin: 0 auto;
}
.index-nav li {
  display: inline-block;
  background: #eee;
  color: #333;
  margin: 0 5px;
}
.listShow {
  padding: 20px;
}
.listShow li {
  float: left;
  width: 20%;
  font-size: 16px;
  margin: 10px 0;
}
.listShow li.clearfix {
  width: 100%;
  clear: both;
  overflow: hidden;
}
.listShow li a {
  color: #6093de;
}
