* {
  margin: 0;
  padding: 0; }

.get-check-val-box {
  margin: 100px;
  overflow: hidden; }
  .get-check-val-box .bootstrap-tagsinput {
    width: 330px; }
  .get-check-val-box .ctrl-box {
    float: left; }
  .get-check-val-box .out-wrap {
    overflow: hidden;
    width: 300px; }
    .get-check-val-box .out-wrap input[type=text] {
      /*height: $num;
      font-size: 16px;
      font-weight: 700;
      width: 300px;
      padding-left: 5px;
      color:#000;
      box-sizing: border-box;*/ }
    .get-check-val-box .out-wrap .warn {
      border: 1px solid red;
      box-shadow: inset 0 0px 5px rgba(255, 0, 0, 0.5); }
    .get-check-val-box .out-wrap .hide-show {
      width: 40px;
      height: 40px;
      border: 1px solid #ccc;
      background: #ebebe4;
      display: block;
      float: left;
      position: relative;
      box-sizing: border-box;
      cursor: pointer; }
      .get-check-val-box .out-wrap .hide-show i {
        display: block;
        position: absolute;
        top: 12px;
        left: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 16px solid #444; }
    .get-check-val-box .out-wrap .custom-wrap {
      display: none;
      overflow: hidden;
      clear: both; }
    .get-check-val-box .out-wrap .custom {
      clear: both;
      float: left; }
    .get-check-val-box .out-wrap .sum-btn {
      width: 40px;
      height: 40px;
      float: left; }
    .get-check-val-box .out-wrap .outVulStr {
      list-style: none; }
      .get-check-val-box .out-wrap .outVulStr li {
        float: left;
        width: auto;
        background: #556270;
        margin-right: 5px;
        padding: 2px 5px; }
        .get-check-val-box .out-wrap .outVulStr li span {
          color: #fff; }
        .get-check-val-box .out-wrap .outVulStr li .close {
          color: #ff6b6b;
          margin-left: 5px;
          cursor: pointer;
          font-style: normal; }
  .get-check-val-box .title {
    float: left;
    margin-right: 20px; }
  .get-check-val-box .wrap {
    border: 1px solid #ddd;
    padding: 10px;
    padding-right: 0;
    margin-top: 10px;
    width: 330px;
    display: none; }
    .get-check-val-box .wrap label {
      margin-bottom: 0; }
  .get-check-val-box .check-box {
    overflow: hidden;
    clear: both;
    padding-bottom: 2px;
    list-style: none;
    width: 320px; }
    .get-check-val-box .check-box li {
      width: 80px;
      height: 40px;
      vertical-align: top;
      padding-bottom: 5px;
      float: left; }
    .get-check-val-box .check-box input[type="text"] {
      width: 50px;
      height: 20px;
      display: none; }
  .get-check-val-box .btn-group input[type=button] {
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px white inset;
    text-align: center;
    color: #000;
    padding: 2px 8px;
    outline: none;
    margin-right: 10px; }
    .get-check-val-box .btn-group input[type=button]:active {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6) inset;
      border-color: rgba(0, 0, 0, 0.3);
      background: #bbb; }

/*# sourceMappingURL=index.css.map */
