<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
    <style>

    </style>
</head>
<body>

<div id="app">
    <div>
        <input v-model="inputValue"/>
        <button @click="handleSubmit">提交</button>
    </div>
    <ul>
        <!--<li v-for="item in list">{{item}}</li>-->
        <todo-item
                v-for="(item,index) in list"
                :key="index"
                :content="item"
                :index="index"
                @delete="handleDelete"
        >
        </todo-item>
    </ul>
</div>

<script>
    //子组件
    Vue.component('todo-item',{
        props:['content','index'],
        template:'<li @click="handleClick">{{index+1}}. {{content}}</li>',
        methods:{
            handleClick:function(){
                this.$emit('delete',this.index);
            }
        }
    });

//    var TodoItem = {
//        template:'<li>item</li>'
//    };

    new Vue({
        el:'#app',
//        components:{
//            'todo-item':TodoItem
//        },
        data:{
            inputValue:'',
            list:[],
        },
        methods:{
            handleSubmit:function(){
                if(this.inputValue!=''){
                    this.list.push(this.inputValue);
                    this.inputValue = ''
                }
            },
            handleDelete:function(index){
                this.list.splice(index,1);
            }
        }
    })
</script>

</body>
</html>